@import url('https://fonts.googleapis.com/css2?family=Sour+Gummy:ital,wght@0,100..900;1,100..900&display=swap');


/* Fundo em gradiente */
body {
    background: linear-gradient(135deg, rgba(0,18,175,1) 0%, rgba(190,37,207,1) 56%, rgba(229,96,255,1) 100%);
    font-family: "Sour Gummy", sans-serif;
}

/* Logo e Header */
.logo {
    width: 244px;
    height: 100px;
}

h1 {
    padding-bottom: 2%;
    color: rgb(255, 179, 236);
    font-family: "Sour Gummy", sans-serif;
}

.nav-link {
    color: rgb(255, 179, 236);
    font-size: 1.2rem;
    font-family: "Sour Gummy", sans-serif;
    transition: background-color 2.8s ease, transform 1.2s ease;
}
.nav-link:hover {
    color: #8d0181;
    border-radius: 45%;
    transition-duration: 0.8s;
    background-color: rgba(255, 228, 196, 0);
}

/* Afastar os itens da navbar */
.navbar-nav .nav-item {
    margin-left: 7px; /* Espaçamento à esquerda de cada item */
    margin-right: 7px; /* Espaçamento à direita de cada item */
}

/* Afastar um pouco mais os botões de Login e Cadastre-se */
.navbar-nav .nav-item:last-child {
    margin-right: 12px; /* Adiciona mais espaço à direita dos botões finais */
}

/* Estilo para os botões Login e Cadastre-se */
.nav-item .nav-link {
    font-size: 1.1rem;
    font-family: "Sour Gummy", sans-serif;
    padding: 8px 15px;
    border-radius: 50px;
    transition: background-color 0.4s ease, color 0.4s ease, transform 0.4s ease;
}

/* Estilo para o botão Login */
.nav-item .nav-link[href="login.html"] {
    background-color: #730080; /* Cor de fundo roxa */
    color: #fff; /* Cor do texto */
    border: 2px solid #730080; /* Borda do botão */
}

.nav-item .nav-link[href="login.html"]:hover {
    background-color: #590064; /* Cor de fundo roxa escura no hover */
    color: #f8f9fa; /* Cor do texto no hover */
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

/* Estilo para o botão Cadastre-se */
.nav-item .nav-link[href="cadastro.html"] {
    background-color: #ff57e0; /* Cor de fundo rosa */
    color: #fff; /* Cor do texto */
    border: 2px solid #ff57e0; /* Borda do botão */
}

.nav-item .nav-link[href="cadastro.html"]:hover {
    background-color: #d438b1; /* Cor de fundo rosa escuro no hover */
    color: #f8f9fa; /* Cor do texto no hover */
    transform: scale(1.1); /* Efeito de aumento ao passar o mouse */
}

/* Carrossel de imagens */
.carousel-image {
    height: 400px; /* Altura padrão */
    object-fit: cover; /* Cobre o tamanho padronizado */
    border-radius: 5%;
}

/* Botões e cores */
.btn-primary {
    background-color: #0012af;
    border-color: #0012af;
}
.btn-primary:hover {
    background-color: #730080;
    border-color: #730080;
}

/* Estilização das seções */
.episode-preview, .comments, .suggestions {
    margin: 30px 0;
    border-radius: 10%;
}
